.bg {width: 100%; height: 200px; background: url(img/cat2.jpg) no-repeat center; background-size: 100% 300px;}
.clearfix::before, .clearfix::after {display:block; content:''; clear:both;}
.container {width: 1080px; margin: 0 auto;}
.cont_box {width: 100%; margin-top: 60px;}
.cont_box .cont_img_box {padding: 10px; width: 300px; float: left; background: #ccc; margin-left: 20px;}
.cont_box .cont_img_box:first-child {margin-left: 0;}
.cont_box .cont_img_box img {width:300px; height: 200px; background: #eee; }